@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');

.Details {
    position: relative;
    border: 2px solid white;
    min-height: 85vh;
    width: 100%;
    padding: 0 10%;
    margin: auto;
    background: #ffefef;
    color: #000;
    
  }
  .JobOverview {
    position: absolute;
    width: 80%;
    top: -2%;
    height: 12vh;
    z-index: 5;
    padding: 1em;
    display: grid;
    place-content: center;
    background: #fff;
    
  }
  .JobOverview h3 {
    text-align: center;
    font-family: 'DM Sans';
    margin-left: 20px;
  }
  
  .JobHead {
    width: 100%;
    font-family: 'DM Sans';
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 0.5em;
    margin-left: 20px;
    color: #595959;
  }
  
  .ActionButton {
    position: absolute;
    top: 50px;
    height: 100%;
  }
  h4{
    font-family: 'DM Sans';
    font-weight: 700;
    margin-left: 20px;
  }



  .JobDetails {
    background: #fff;
    margin: 6em 0;
    min-height: 50vh;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-family: 'DM Sans';
    margin-left: 20px;
   
  }
  
  .Skill {
    display: flex;
    gap: 1em;
     margin-left: 20px;
     color: #595959;
  }
  
  .Paragraph{
    margin-left: 20px;
    color: #595959;
  }
  .SkillTag {
    padding: 0.5em;
    border-radius: 21px;
    background: #fee;
  }
  .JobInfo {
    display: flex;
    gap: 2em;
    margin: 1em 0;
    font-family: 'DM Sans';
    font-weight: 400;
    margin-left: 20px;
  }
  h9{
    color:#ED5353;
    font-family: 'DM Sans';
    font-weight: 500;
    position: relative;
    top: -15px;
    left: 5px;
    margin-left: 20px;
  }
 
  .JobInfo div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .JobInfo span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #999999;
    
  }
  
  .Logo {
    width: 25px;
    height: 25px;
  }
  h2{
    margin-left: 95px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 42px;
    
  }

  h5{
  color: #595959;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  color: #595959;
  font-size: medium;
  }
  