.ActionButton {
    padding: 0.6em 2em;
    margin: 0.5em 0;
    margin-left: 0.5em;
    min-width: 9em;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.2em;
    border-radius: 3px;
  }
  