@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Noto+Sans+NKo+Unjoined:wght@500&display=swap');
.header {
  position: relative;
  height: 15vh;
  border-radius: 0 0 40px 40px;
  background: #ed5353;
  overflow: hidden;
  display: flex;
  color: #fff;
  align-items: center;

  padding: 0 5%;
    
  }
  .navbar{
    position: relative;
  height: 15vh;
  border-radius: 0 0 40px 40px;
  background: #ed5353;
  overflow: hidden;
  display: flex;
  color: #fff;
  align-items: center;

  padding: 0 5%;
    
  }


  .right {
    z-index: 2;
    position: absolute;
    bottom: 2%;
    left: -2%;
  }
  .middle {
    z-index: 2;
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
  }
  .left {
    z-index: 2;
    transform: scale(0.8);
    position: absolute;
    bottom: -15%;
    right: -2%;
  }
  






  .navbar > div:nth-child(1) {
    font-size: 35px;
    padding: 0px;
    margin: 10px 0px 0px 80px;
    color: white;
  }
  .login-register {
    display: flex;
    align-items: center;
    margin-right: 80px;
  }

  .user-info {
    display: flex;
  z-index: 20;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  gap: 1em;
  }
  


.user-info > p {
  font-weight: 500;
  font-size: 23px;
  line-height: 144.02%;
  margin-left: 20px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}
.login {
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin-right: 40px;
  margin-top: 5px;
  box-shadow: 0px 7px 13px rgba(255, 32, 32, 0.25);
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  font-size: 25px;
  background-color: #ff6b6b;
  color: white;
  padding: 0px 20px;
}
.signup {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 7px 13px rgba(255, 32, 32, 0.25);
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  font-size: 25px;
  background-color: white;
  color: #ff6b6b;
}



  .avatar {
    position: relative;
    top: 0px;
    left: 0px;
    width: 35px;
    height: 35px;
  
    padding-left: 15px;
  
  }
  
  